{% extends "cource/base_user.html" %}

{% block title %}Редактировние темы{% endblock %}

{% block content %}
    <h2>Редактировать:</h2>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="name">Название:</label>
            <input class='form-control' type="text" name="name" value={{ topic.name }} required>
        </p>
        <p>
            <label for="hours">Колличество часов:</label>
            <input class='form-control' type="number" name="hours" value={{ topic.hours }} required>
        </p>
        <p><button type="submit" class="btn btn-success">Сохранить</button></p>
    </form>
{% endblock %}