{% extends template %}

{% block title %}
{{ cource.title }}
{% endblock %}

{% block content %}
    <h1>{{cource.title}}</h1>
    <p>{{cource.description}}</p>
    <p>{{cource.type_of_cource}}</p>
    <p>{{cource.attendance}}</p>
    <p>{{cource.start_date|date:"Y-m-d"}}</p>
    <p>{{cource.end_date|date:"Y-m-d"}}</p>
    <p>{{cource.study_hours}}</p>
    <p>{{cource.base_education}}</p>
    <p>{{cource.graduate_control}}</p>
    <p>{{cource.graduate_document}}</p>
    <p>{{cource.price}}</p>
    <p>{{cource.organization}}</p>  
    {% if topics %}
        <h4>Список тем:</h4>
        <ul>           
            {% for topic in topics %}
                <li>{{ topic.name }} - {{topic.hours}} часов</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if schedule %}
        <h4>Расписание:</h4>
        <ul>
        {% for day in schedule %}
            <li>{{day.day}}: {{day.from_time}} - {{day.to_time}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if organization %}
        <h4>Организация:</h4>
        <p>{{organization.name}}</p>
        <p>{{organization.email}}</p>
        <p>{{organization.web_site}}</p>
        <p>{{organization.document_series}}</p>
        <p>{{organization.document_number}}</p>
        <p>{{organization.document_type}}</p>
    {% else %}
    {% endif %}
    {% ifequal is_owner True %}
        <a href="{% url 'delete_cource' cource.id %}">Удалить</a><br>
        <a href="{% url 'edit_cource' cource.id %}">Редактировать</a><br>
    {% else %}
        {% if user.is_authenticated %}
            {% if is_taking_cource %}
                <a style="color: red;" href="{% url 'leave_cource' cource.id %}">Отписаться</a>
            {% else %}
                <a href="{% url 'take_cource' cource.id %}">Записаться</a>
            {% endif %}
        {% else %}
            <a href="{% url 'register_user' %}">Зарегистрируйтесь</a> или <a href="{% url 'login' %}">Войдите</a> что б записаться на курс</a>
        {% endif %}
    {% endifequal %}
{% endblock %}
